
<app-banner [bannerUrl]="bannerUrl">
  <div class="banner-inner">
    <div class="banner-title">{{article?.title}}</div>
    <div class="banner-desc">
      {{article?.author?.username}}
      .
      <span *ngFor="let item of article?.tagList">{{item.name}}</span>
    </div>
  </div>
</app-banner>
<div class="m-container">
  <div style="display: flex;">
    <div class="art-detail">
      <div [innerHTML]="article?.content"></div>
    </div>
    <div class="art-popular">
  
    </div>
  </div>
  <div class="comment">
    <app-comment
      [data]="commentList"
      [(submitting)]="submitting"
      (commentEvent)="commentEvent($event)"></app-comment>
  </div>
</div>