html, body, app-root, .nzlayout-site {
    width:100%;
    min-height: 100vh;
}
body{
    
}
.nzlayout-site{
    .nzlayout-header{
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 100;
        height: @header-height;
        box-shadow: 0 6px 22px -16px rgba(6, 6, 6, 0.4);
    }
    .nzlayout-container{
        height: 100vh;
        width:100%;
        padding-top: @header-height;
        // .nzlayout-main-container{

        // }
    }
}
.m-container{
    margin:0 auto;
    width:1200px;
}