<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
  </nz-breadcrumb-item>

  <ng-container *ngFor="let breadcrumbItem of breadcrumbMenus">
    <nz-breadcrumb-item *ngIf="breadcrumbItem?.type == 'router'" [nzOverlay]="downMenuA">
      <a [routerLink]="[breadcrumbItem.route]">{{breadcrumbItem.title}}</a>

      <nz-dropdown-menu #downMenuA>
        <ul nz-menu nzSelectable>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: breadcrumbItem.children }"></ng-container>
          <ng-template #menuTpl let-breadcrumbItemChild>
            <ng-container *ngFor="let subBreadcrumb of breadcrumbItemChild">
              <li nz-submenu *ngIf="subBreadcrumb.type == 'sub'" [nzTitle]="subBreadcrumb.title">
                <ul nz-menu nzSelectable>
                  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: subBreadcrumb.children }"></ng-container>
                </ul>
              </li>
              <li nz-menu-item *ngIf="subBreadcrumb.type == 'router'" [routerLink]="[subBreadcrumb.route]">
                {{subBreadcrumb.title}}
              </li>
              <li nz-menu-item *ngIf="subBreadcrumb.type == 'link'" (click)="open(subBreadcrumb.link)">
                {{subBreadcrumb.title}}
              </li>
            </ng-container>

          </ng-template>
        </ul>
      </nz-dropdown-menu>

    </nz-breadcrumb-item>


    <nz-breadcrumb-item *ngIf="breadcrumbItem?.type == 'sub'" [nzOverlay]="downMenu">
      {{breadcrumbItem.title}}

      <nz-dropdown-menu #downMenu>
        <ul nz-menu nzSelectable>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: breadcrumbItem.children }"></ng-container>
          <ng-template #menuTpl let-breadcrumbItemChild>
            <ng-container *ngFor="let subBreadcrumb of breadcrumbItemChild">
              <li nz-submenu *ngIf="subBreadcrumb.type == 'sub'" [nzTitle]="subBreadcrumb.title">
                <ul nz-menu nzSelectable>
                  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: subBreadcrumb.children }"></ng-container>
                </ul>
              </li>
              <li  *ngIf="subBreadcrumb.type == 'router'" nz-menu-item [routerLink]="[subBreadcrumb.route]">
                {{subBreadcrumb.title}}
              </li>
              <li  *ngIf="subBreadcrumb.type == 'link'" nz-menu-item (click)="open(subBreadcrumb.link)">
                {{subBreadcrumb.title}}
              </li>
            </ng-container>

          </ng-template>
        </ul>
      </nz-dropdown-menu>
    </nz-breadcrumb-item>

  </ng-container>
</nz-breadcrumb>