<div class="carousel-panel">
  <ul class="carousel-sub-panel" [class]="isOffsetPanel?'offsetOne':''">
    <li class="carousel-item" *ngFor="let item of listData" [class]="item.isMax? 'maxItem':''">
      <div class="carousel-card">
          <div class="carousel-img" [style]="{'backgroundImage': 'url('+ item.imgUrl+')'}"></div>
          <div class="carousel-info" [hidden]="item.isMax">
            <div class="carousel-title">{{item.title}}</div>
            <div class="carousel-dec">{{item.dec}}</div>
          </div>
      </div>
    </li>
  </ul>
</div>