<div class="carousel-panel">
  <ul class="carousel-sub-panel" [class]="isOffsetPanel?'offsetOne':''">
    <li class="carousel-item" *ngFor="let item of carouselData; trackBy: trackByCarousel" [class]="item.isMax? 'maxItem':''">
      <div class="carousel-card">
          <div class="carousel-img" [style]="{'backgroundImage': 'url('+ item.imgUrl+')'}"></div>
          <div class="carousel-info" [hidden]="item.isMax">
            <div class="carousel-title">{{item.title}}</div>
            <div class="carousel-tag">{{item.tag}}</div>
          </div>
      </div>
    </li>
  </ul>
  <div class="slider-left"></div>
  <div class="slider-right"></div>
  <div class="carousel-introduce" [class]="isOffsetPanel?'hidden-introduce':''">
    <div class="introduce-index">
      <div class="introduce-num-background" [style]="{'backgroundColor': colorCurrent, 'opacity':.5}"></div>
      <div class="introduce-num" [style.backgroundColor]="colorCurrent">
        {{maxData?.index+1}}/{{carouselData?.length}}
      </div>
    </div>
    <div class="introduce-title">
      
      <div class="item-title">
        {{maxData?.title}}
        <div class="item-title-hr" [style.borderColor]="colorCurrent"></div>
      </div>
      <div class="item-tag">
        {{maxData?.tag}}
      </div>
    </div>
    <div class="introduce-desc">{{maxData?.desc}}</div>
    
  </div>
</div>