.m-grid-panel{
  display: flex;
  .m-grid-list{
    width:660px;
  }
  .m-grid-tag{
    width:240px;
    padding: 0 3rem;
  }
  .m-grid-popular{
    width:300px;
  }
}
.carousel{
  margin-top:1rem;
}
.m-bg{
  background-color:#eee;
  border-radius: 1rem;
  padding:.5rem;
}
.mt-3{
  margin-top:1rem;
}