<div class="m-container">
  <div class="carousel">
    <app-carousel [carouselData]="carouselData"></app-carousel>
  </div>
  <div class="m-grid-panel">
    <div class="m-grid-list">
      <app-list [listData]="listData"></app-list>
      <nz-pagination [(nzPageIndex)]="current" [nzTotal]="50" [nzSize]="'small'" [nzShowTotal]="totalTemplate"></nz-pagination>
      <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
    </div>
    <div class="m-grid-tag">
      <div class="m-bg mt-3">
        <app-tags
          [tagData]="tagData"
          [title]="'Tag'"
          [desc]="'热门标签'"
          [(selectData)]="tagSelectData"></app-tags>
      </div>
      
    </div>
    <div class="m-grid-popular">
      <app-list [listData]="listData1"></app-list>
    </div>
  </div>
</div>
